<launch>
  <!-- turtlebot_teleop_key already has its own built in velocity smoother -->
  <node pkg="chair" type="teleopchair.py" name="teleopchair"  output="screen">

<!--    <remap from="arlobot_teleop_keyboard/cmd_vel" to="diffbot_controller/cmd_vel"/> -->
    <!-- <remap from="chefbot_teleop_keyboard/cmd_vel" to="cmd_vel_mux/input/teleop"/>  -->
  </node>
</launch>
